<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="images/icono.ico"/>
    <title>WALLAPOP: Editar usuario</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/login.css" rel="stylesheet"/>
   <link href="css/editar.css" rel="stylesheet" />
    
    <script type="text/javascript">
    function cerrar(){
    	alert("Acaba de cerrar sesión. Se le redirigirá a la pantalla inicial de la aplicación.");
    	window.location = "login";
    }

    function eliminar(){
	confirm("¿Esta seguro que quiere darse de baja en la aplicación? Al hacerlo se le eliminaran automáticamente los productos que tiene puestos en su perfil.");
	}
	
	</script>
	
</head>
<body>

<div class="container" id="container">
      <div class="header clearfix">
		<img src="images/logo.png" alt="Error en la imagen" />
        <h2 class="text-muted">WALLAPOP</h2>
		<p>Encuentra tu producto ideal</p>
		<button class="btn btn-warning" onclick="return cerrar();">Cerrar sesión</button>
      </div>
      
      <nav>  
			<ul id="menu">
				<li><a href="inicioAdmin">Inicio</a></li>
			 	<li><a href="adminusuario">Gestión de usuarios</a></li>
			 	<li><a href="adminproducto">Gestión de productos</a></li>
			 	<li><a href="chat">Chat</a></li>
	 		</ul>
		</nav>
	
		<form action="admineditarusuario" method="post">
		
			
			<input type="hidden" name="id" th:value="${usuario_edicion.id}" />  
			<input type="hidden" name="correo" th:value="${usuario_edicion.correo}"/>
			<input type="hidden" name="contrasena" th:value="${usuario_edicion.contrasena}"/>
			
			<p class='etiquetas'><b>Nombre:&nbsp;&nbsp;&nbsp;</b>
				<input class="nombrecompleto" type="text" name="nombre" tabindex="1" id='name' th:value="${usuario_edicion.nombre}" /><br /><br /></p>
			<p class='etiquetas'><b>Apellidos:&nbsp;&nbsp;&nbsp;</b>
				<input class="apellidos" type="text" name="apellidos" tabindex="2" id='apellido' th:value="${usuario_edicion.apellidos}" /><br /><br /></p>
			<p class='etiquetas'><b>Provincia:&nbsp;</b>
				<input type="text" name="provincia" id="ciudad" tabindex="3" th:value="${usuario_edicion.provincia}"/><br/></p>
		
			<p class='etiquetas'><b>E-mail:&nbsp;&nbsp;&nbsp;</b>
				<input type="text" class="email" tabindex="4" id='correo' readonly="readonly" th:value="${usuario_edicion.correo}" /><br /><br /></p>
			
			<button class="elim btn btn-warning" type="submit">Guardar</button>
		</form>
	<p>
		<a class ="btn btn-info" href="javascript:history.go(-1)">Volver</a>
	</p>
    <div class="footer">
		<p>&copy; 2016 Wallapop, Inc.</p>
    </div>
    </div>
    
</body>
</html>