<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="images/icono.ico"/>
    <title>WALLAPOP: Editar producto</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/editar.css" rel="stylesheet" />
	<link href="css/login.css" rel="stylesheet" />
    
    <script type="text/javascript">
    function cerrar(){
    	alert("Acaba de cerrar sesión. Se le redirigirá a la pantalla inicial de la aplicación.");
    	window.location = "login";
    }
    
    function validacion(){
    	
    	var titulo = document.getElementById("titulo").value;
    	var categoria = document.getElementById("categoria").value;
    	var descripcion = document.getElementById("descripcion").value;
    	var precio = document.getElementById("precio").value;
    	var estado = document.getElementById("estado").value;
    	
    	if( titulo == "" ){
			alert("Introduzca un título.");
			return false;
		}
		if(categoria == ""){
			alert("Introduzca una categoria.");
			return false;
		}
		if( descripcion == ""){
			alert("Introduzca una descripción.");
			return false;
		}
		if(precio == ""){
			alert("Introduzca un precio.");
			return false;
		}
		if (!/^([0-9])*$/.test(precio)){
			alert("El campo precio solo puede contener un numero");
			return false;
		}
		if(estado == ""){
			alert("Introduzca un estado.");
			return false;
		}
		return true;
    	
    }

	</script>
	
</head>
<body>

<div class="container" id="container">
      <div class="header clearfix">
		<img src="images/logo.png" alt="Error en la imagen" />
        <h2 class="text-muted">WALLAPOP</h2>
		<p>Encuentra tu producto ideal</p>
		<button class="btn btn-warning" onclick="return cerrar();">Cerrar sesión</button>
      </div>
      
      <nav>  
			<ul id="menu">
				<li><a href="inicioAdmin">Inicio</a></li>
			 	<li><a href="adminusuario">Gestión de usuarios</a></li>
			 	<li><a href="adminproducto">Gestión de productos</a></li>
			 	<li><a href="chat">Chat</a></li>
	 		</ul>
		</nav>
	
		<form action="admineditarproducto" method="post">
		
			
			<input type="hidden" name="id" th:value="${producto_edicion.id}" />  
			<input type="hidden" name="clienteID" th:value="${producto_edicion.clienteID}" />  
			
			<p class='etiquetas'><b>Titulo&nbsp;&nbsp;&nbsp;</b>
				<input type="text" id="titulo" name="titulo"  class="tituloProducto"  th:value="${producto_edicion.titulo}"  /><br /><br /></p><!-- th:field="*{titulo}"  -->
			<p class='etiquetas'><b>Categori­a&nbsp;&nbsp;&nbsp;</b>
				<select  id="categoria" class="categoria" name="categoria" >
					<option th:selected="${producto_edicion.categoria}" th:text="${producto_edicion.categoria}"></option>
					<option value="Cualquier categoria" > Cualquier categoria </option>
					<option value="Mobiliario">Mobiliario</option>
					<option value="Vehiculos">Vehículos</option>
					<option value="Moda y belleza">Moda y belleza</option>
					<option value="Electronica">Electrónica</option>
					<option value="Ocio">Ocio y deportes</option>
					<option value="Otros">Otros</option>
				</select><!-- th:field="*{categoria}" -->
			<br /><br /></p>
			<p class='etiquetas'><b>Descripcion&nbsp;&nbsp;&nbsp;</b>
				<input type="text" name="descripcion" class="descripcion" id="descripcion"  th:value="${producto_edicion.descripcion}" /><br /><br /></p><!-- th:field="*{descripcion}"  -->
			<p class='etiquetas'><b>Imagen&nbsp;&nbsp;&nbsp;</b>
				<input id="imagen" name="imagen" th:value="${producto_edicion.image}"  type="file" accept="image/*" /><br /><br /></p>
			<p class='etiquetas'><b>Precio&nbsp;&nbsp;&nbsp;</b>
				<input type="text" name="precio" class="precio" id="precio"  th:value="${producto_edicion.precio}" /><br /><br /></p><!--  th:field="*{precio}" -->
			<p class='etiquetas'><b>Estado&nbsp;&nbsp;&nbsp;</b>
				<input type="text" name="estado"  class="estado" id="estado" readonly="readonly"  th:value="${producto_edicion.estado}"  /><br/><br /></p>
			<label>
				<button type="submit" onclick="return validacion();" class="elim btn btn-warning" id='validar'>Guardar</button></label><br />
		</form>
	<p>
		<a class ="btn btn-info" href="javascript:history.go(-1)">Volver</a>
	</p>
    <div class="footer">
		<p>&copy; 2016 Wallapop, Inc.</p>
    </div>
    </div>
    
</body>
</html>