<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="images/icono.ico"/>
    <title>WALLAPOP: Gestión de usuarios</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/login.css" rel="stylesheet"/>
    <link href="css/gestion.css" rel="stylesheet" />
    <script type="text/javascript">
    
    function cerrar(){
    	alert("Acaba de cerrar sesión. Se le redirigirá a la pantalla inicial de la aplicación.");
    	window.location = "login.html";
    }
    
    </script>
</head>
<body>

<div class="container" id="container">
      <div class="header clearfix">
		<img src="images/logo.png" alt="Error en la imagen" />
        <h2 class="text-muted">WALLAPOP</h2>
		<p>Encuentra tu producto ideal</p>
		<button class="btn btn-warning" onclick="return cerrar();">Cerrar sesión</button>
      </div>
      
      <nav>  
			<ul id="menu">
				<li><a href="inicioAdmin">Inicio</a></li>
			 	<li><a href="adminusuario">Gestión de usuarios</a></li>
			 	<li><a href="adminproducto">Gestión de productos</a></li>
			 	<li><a href="chat">Chat</a></li>
	 		</ul>
		</nav>
	  <table id="tablaGestion" class="table" >
	  <thead>
	  	<tr class="fila1"><td>Nombre</td><td>Apellido</td><td>Correo</td><td>Provincia</td><td></td><td></td></tr>
	  	
	  </thead>
	  <tbody>
		<tr class='fila1' th:each="usuario : ${usuarios}"> 
			<td th:text="${usuario.nombre}"></td>
			<td th:text="${usuario.apellidos}"></td>
			<td th:text="${usuario.correo}"></td>
			<td th:text="${usuario.provincia}"></td>
			<td><a href="admineditarusuario?id=${usuario.id}" title="Editar usuario ${usuario.nombre}" >Editar</a></td>
			<td><a href="admineliminarusuario?id=${usuario.id}" title="Eliminar usuario ${usuario.nombre}" >Eliminar</a></td>
		</tr>
	  </tbody>
	  </table>
	  <p>
		<a class ="btn btn-info" href="javascript:history.go(-1)">Volver</a>
	</p>
	<div class="footer">
		<p>&copy; 2016 Wallapop, Inc.</p>
    </div>

    </div>  
</body>
</html>