<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="images/icono.ico"/>
    <title>WALLAPOP</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/login.css" rel="stylesheet"/>
</head>

<body>
	<div class="container">
		<div class="header clearfix">
			<img src="images/logo.png" alt="Error en la imagen"/>
        	<h2 class="text-muted">WALLAPOP</h2>
			<p>Encuentra tu producto ideal</p>
		</div>

		<div class="jumbotron">
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Nombre de usuario</label>
					<input type="text" class="form-control" id="email" name="email" />
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">Contraseña</label>
					<input type="password" class="form-control" id="password" name="password" />
				</div>
		
				<button type="submit" class="btn btn-info">Enviar</button>
				<a href="registro">
					<button type="button" class="btn btn-success" >Regístrate</button>
				</a>
			</form>
		</div>

		<div class="footer">
        	<p>&copy; 2016 Wallapop, Inc.</p>
     	</div>
	</div>   
</body>
</html>