<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="images/icono.ico"/>
    <title>WALLAPOP: Editar producto</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/login.css" rel="stylesheet"/>
    <link href="css/editar.css" rel="stylesheet"/>
    
    <script type="text/javascript">
    function cerrar(){
    	alert("Acaba de cerrar sesión. Se le redirigirá a la pantalla inicial de la aplicación.");
    	window.location = "login";
    }

	
	</script>
	
</head>
<body>

<div class="container" id="container">
      <div class="header clearfix">
		<img src="images/logo.png" alt="Error en la imagen" />
        <h2 class="text-muted">WALLAPOP</h2>
		<p>Encuentra tu producto ideal</p>
		<button class="btn btn-warning" onclick="return cerrar();">Cerrar sesión</button>
      </div>
      
      <nav>  
			<ul id="menu">
				<li><a href="inicioCliente">Inicio</a></li>
			 	<li><a href="perfil">Mi perfil</a></li>
			 	<li><a href="productos">Mis productos</a></li>
			 	<li><a href="catalogo">Catálogo</a></li>
			 	<li><a href="chat">Chat</a></li>
	 		</ul>
		</nav>
	
		<form action="editarproducto" method="post">
		
			
			<input type="hidden" name="id" th:value="${producto.id}" />  
			<input type="hidden" name="clienteID" th:value="${producto.clienteID}" />  
			
			<p class='etiquetas'><b>Titulo&nbsp;&nbsp;&nbsp;</b>
				<input type="text" name="titulo"  class="tituloProducto"  th:value="${producto.titulo}"  /><br /><br /></p><!-- th:field="*{titulo}"  -->
			<p class='etiquetas'><b>Categori­a&nbsp;&nbsp;&nbsp;</b>
				<select  class="categoria" name="categoria" >
					<option th:selected="${producto.categoria}" th:text="${producto.categoria}"></option>
					<option value="Cualquier categoria" > Cualquier categoria </option>
					<option value="Mobiliario">Mobiliario</option>
					<option value="Vehiculos">Vehículos</option>
					<option value="Moda y belleza">Moda y belleza</option>
					<option value="Electronica">Electrónica</option>
					<option value="Ocio">Ocio y deportes</option>
					<option value="Otros">Otros</option>
				</select><!-- th:field="*{categoria}" -->
			<br /><br /></p>
			<p class='etiquetas'><b>Descripcion&nbsp;&nbsp;&nbsp;</b>
				<input type="text" name="descripcion" class="descripcion" id="descripcion4"  th:value="${producto.descripcion}" /><br /><br /></p><!-- th:field="*{descripcion}"  -->
			<p class='etiquetas'><b>Imagen&nbsp;&nbsp;&nbsp;</b>
				<input id="imagen4" name="imagen" th:value="${producto.image}"  type="file" accept="image/*" /><br /><br /></p>
			<p class='etiquetas'><b>Precio&nbsp;&nbsp;&nbsp;</b>
				<input type="text" name="precio" class="precio" id="precio4"  th:value="${producto.precio}" /><br /><br /></p><!--  th:field="*{precio}" -->
			<p class='etiquetas'><b>Estado&nbsp;&nbsp;&nbsp;</b>
				<input type="text" name="estado"  class="estado" id="estado4" readonly="readonly"  th:value="${producto.estado}"  /><br/><br /></p>
			<label>
				<button type="submit" class='validar btn btn-warning' id='validar'>Guardar</button></label><br />
		</form>
	<p>
		<a class ="btn btn-info" href="javascript:history.go(-1)">Volver</a>
	</p>
    <div class="footer">
		<p>&copy; 2016 Wallapop, Inc.</p>
    </div>
    </div>
    
</body>
</html>