<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="images/icono.ico"/>
    <title>WALLAPOP: Mis productos</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/login.css" rel="stylesheet"/>
    <link href="css/perfilCliente.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
     <script type="text/javascript">
     function cerrar(){
     	alert("Acaba de cerrar sesión. Se le redirigirá a la pantalla inicial de la aplicación.");
     	window.location = "login.html";
     }

     function tabla() {
    	    var x = document.getElementById('tabla2');
    	    if (x.style.display === 'none') {
    	        x.style.display = 'block';
    	    } else {
    	        x.style.display = 'none';
    	    }
    	}
     
     </script>
</head>
<body>

<div class="container" id="container">
      <div class="header clearfix">
		<img src="images/logo.png" alt="Error en la imagen" />
        <h2 class="text-muted">WALLAPOP</h2>
		<p>Encuentra tu producto ideal</p>
		<button class="btn btn-warning" onclick="return cerrar();">Cerrar sesión</button>
      </div>
      
      <nav>  
			<ul id="menu">
				<li><a href="inicioCliente">Inicio</a></li>
			 	<li><a href="perfil">Mi perfil</a></li>
			 	<li><a href="productos">Mis productos</a></li>
			 	<li><a href="catalogo">Catálogo</a></li>
			 	<li><a href="chat">Chat</a></li>
	 		</ul>
		</nav>
		
      <div> 
		<ul id="opcionesmenu" class="nav nav-pills nav-stacked">
			<li  class="active" id='menu2' ><a href="#">Mis productos</a></li>	
		</ul>
	  </div>	
	  
	  <table id='tabla'>
		<tr>
			<td>
				<div class="oculto" id="productos">
					<h1 class='titulo'>MIS PRODUCTOS</h1>
					<p class='etiqueta'>A continuacion, se mostraran las productos que tiene puestos en venta. </p>
					<p class='etiqueta'>Si desea modificar o dar de baja un producto pinche en editar.</p>
					<p class='etiqueta'><button class="anadir btn btn-default" id="anadir" onclick="tabla()">Añadir un nuevo producto.</button></p>
					
					
						
				
					 <!-- AQUI SE METERIAN LOS PRODUCTOS DE LA BASE DE DATOS ASOCIADOS AL CLIENTE -->
					
					<!--	<button class='elim btn btn-warning' id='edit' onclick='editarProd()'>Editar</button>
						<div class="fav" id="fav"> 
							<form action="productos" method="post">
								<input type="hidden" name="accion" value="editar" />
								<input type="hidden" name="titulo" value="<%= product.getTitulo() %>" />
								<input type="hidden" name="id" value="<%= product.getId() %>" />
								<button type="submit" class="cont btn btn-success" id="confirm" >Confirmar</button>
									<h4 class='tituloFav'><%= product.getTitulo() %></h4>
									<p>Categoria:&nbsp;&nbsp;&nbsp;<input type="text" class="categoria" id="categoria" name="categoria" readonly value="<%= product.getCategoria() %>"><br><br></p>
									<p>Descripcion:&nbsp;&nbsp;&nbsp;<input type="text" class="descripcion" id="descripcion" name="descripcion" readonly value="<%= product.getDescripcion() %>"><br><br></p>
								
									<img src="" class="img-circle imagenesProductos" alt="Cajones blancos">
								
									<p>Precio:&nbsp;&nbsp;&nbsp;<input type="text" class="precio" id="precio" name="precio" readonly value="<%= product.getPrecio() %>"><br><br></p>
									<p>Estado:&nbsp;&nbsp;&nbsp;<input type="text" class="estado" id="estado" name="estado" readonly value="<%= product.getEstado() %>"><br><br></p>
								
							</form>
							<a href="productos?accion=borrar&id=<%= product.getId() %>" >
								<button class='btn btn-danger eliminarProducto' onclick="eliminarProd()">Dar de baja el producto</button>
							</a>
						</div> 
					
					-->
					 
					<br /><br />
					
					<form id="formAlta" method="post" th:action="@{/productos}" th:object="${producto}">
						<table id="tabla2"> 
								<tr id="fila1"><td id="celda1"><b>Añade un nuevo producto</b></td></tr> 
								<tr id="fila2"> 
								<td><br />
									<label>Titulo&nbsp;&nbsp;&nbsp;
										<input type="text" th:field="*{titulo}" class="tituloProducto" /><br /><br /></label>
									<label>Categori­a&nbsp;&nbsp;&nbsp;
										<select class="categoria" th:field="*{categoria}">
											<option value="Cualquiera" selected="selected">Cualquier categoria</option>
											<option value="Mobiliario">Mobiliario</option>
											<option value="Vehiculos">Vehículos</option>
											<option value="Moda y belleza">Moda y belleza</option>
											<option value="Electronica">Electrónica</option>
											<option value="Ocio">Ocio y deportes</option>
											<option value="Otros">Otros</option>
										</select>
									<br /><br /></label>
									<label>Descripcion&nbsp;&nbsp;&nbsp;
										<input type="text" th:field="*{descripcion}" class="descripcion" id="descripcion4" /><br /><br /></label>
									<!--<label>Imagen&nbsp;&nbsp;&nbsp;
										<input id="imagen4" th:field="*{imagen}"  type="file" accept="image/*" /><br /><br /></label>-->
									<label>Precio&nbsp;&nbsp;&nbsp;
										<input type="text" th:field="*{precio}" class="precio" id="precio4" /><br /><br /></label>
									<label>Estado&nbsp;&nbsp;&nbsp;
										<input type="text" name="estado"  class="estado" id="estado4" th:value="Disponible" readonly="readonly" /><br/><br /></label>
									<label>
										<button type="submit" class='validar btn btn-info' id='validar'>Añadir</button></label><br />
								</td>   
								</tr> 
						</table>
					</form>
					
					</div>
				</td>
				</tr>
			</table>
	  
	<p>
		<a class ="btn btn-info" href="javascript:history.go(-1)">Volver</a>
	</p>
	
 <div class="footer">
		<p>&copy; 2016 Wallapop, Inc.</p>
    </div>
    </div>

</body>
</html>